*{box-sizing: border-box; font-family: 'Source Sans Pro', sans-serif;}
html{scroll-behavior: smooth;}
body, a{padding: 0; margin: 0; text-decoration: none; background-color: #f4f4f4;}
h1{
    font-weight: normal;
}
img{
    width: 100%;
}
header{
    width: 100%;
}
header, a{
    background-color: #00ffff;
}
header a{
    color: #000;
    margin-left: 30px;
}
section, footer{
    margin-top: 25px;
}
.cont-head{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}
.cont-head nav{
    align-self: center;
}
.cont-head img{
    max-width: 150px;
    max-height: 100px;
    width: auto;
    height: auto;
}
.banner-principal{
    background-image: url(assets/recepcao.png);
    background-attachment: fixed;
    background-size: cover;

    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-principal h1{
    font-weight: normal;
    color: #fff;
    margin: 0 10%;
    line-height: 40px;
}
.alinha-texto{
    width: 100%;
    text-align: center;
}
.lim-text{
    margin: 0 auto;
    width: 600px;
}
.cards{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.cards figure{
    border: 1px solid #bebdbd;
    border-radius: 5px;
    box-shadow:3px 3px 20px #808080;
    background-color: #d8d8d8;
}
.cards figcaption{
    font-size: 15px;
    margin: 5px auto;
}
.cards img{
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 500px;
    opacity: 0.5;
    width: 100%;
}
main p{
    font-size: 17px;
}
.about-1{
    display: flex;
    flex-wrap: nowrap;
    width: 550px;
}
.about-1 img{
    max-width: 150px;
    height: auto;
    width: auto;
}
.about-1 li{
    font-size: 15px;
    text-align: justify;
    line-height: 25px;
}
button{
    background-color: #0cadad;
    border: #0cadad;
    padding: 10px 10px;
    font-weight: bold;
    color: #fff;
}
iframe{
    width: 1024px;
}
footer img{
    max-width: 150px;
    max-height: 100px;
    width: auto;
    height: auto;
}
footer{
    color: #fff;
    background-color: #054d3b;
    text-align: center;
    padding: 20px;
}
.cards img:hover{
    opacity: 1.0;
}
header a:hover{
    font-weight: bold;
    color: #808080;
}
@media (max-width: 670px){
    .cards{
        display: flex;
        flex-direction: column;
    }
    .lim-text{
        width: 100%;
    }
    .alinha-texto figure{
        width: 300px;
        margin: 15px auto;
    }
    figure img{
        width: auto;
        height: auto;
        opacity: 0.5;
        width: 100%;
    }
    .cont-head{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 5px 5px;
    }
    iframe{
        width: 100vw;
    }
}